<nav class="navbar navbar-expand-lg " data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="">Plex</a>
    <button (click) = "toggleMenu()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" navbar-collapse" [ngClass]="isMenuOpen ? 'collapsed' : 'collapse'" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <li *ngIf="logged" class="nav-item">
          <a class="nav-link active text-white" aria-current="films" routerLink = "">
            Films</a>
        </li>
        <li class="nav-item" *ngIf="logged">
          <a class="nav-link text-white" routerLink ="users">
            Users</a>
        </li>
        <li class="nav-item">
          <button class="nav-link text-white" routerLink = "auth" *ngIf="!logged">Login</button>
        </li>
        <li *ngIf="logged" >
          <a class="nav-link text-white" routerLink="profile" > <i class="fa-solid fa-user"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
