img{
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}
.heart{
  font-size: 30px;
  color: red;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;

}
.card{
  background-color: rgba(0, 0, 0, 0.54);
  color: white;
  height: 100%;
}
